doctype html
html(class="has-background-black")
  head
    base(target="_top")
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(rel="stylesheet" href="/app.css")

  body(class="has-background-black")
    div(class="columns is-gapless has-margin-bottom-5")
      div(class="column")
        div(class="field has-addons has-padding-10")
          div(class="control has-icons-left is-expanded")
            input(class="input is-info is-family-code" type="text" id="charkey" placeholder="Enter character API key (with A02 module enabled)")
            span(class="icon is-left")
              i(class="fas fa-key")
          div(class="control")
            a(class="button is-info" id="findbutton") Find
    div(class="columns is-gapless has-margin-bottom-5")
      div(class="column is-full")
        div(class="has-background-black has-page-width" id="ryzommap")

    script(src="/app.js")
